h1 {
    text-align: center;
}

h2 {
    margin-top: 48px;
}

h4 {
    margin-top: 24px;
    margin-bottom: 8px;
}

ul {
    margin-left: -20px;
}

link {
    text-decoration: none;
}

.info {
    background-color: #8EE3F0;
    border-radius: 8px;
    color: #263B50;
    font-weight: bold;
    padding: 4px;
}

.info span {
    margin-left: 4px;
    vertical-align: middle;
}

.warn {
    background-color: #C42B1C;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
}

.warn span {
    margin-left: 4px;
    vertical-align: middle;
}
